
.transition-group {
  position: relative;
}

$transition-page: all 350ms;

.fade {
  // z-index: 1;
  // 마운트 전
  &.anim-enter {
    filter: brightness(0.25);
    transform: scale(0.9);
  }

  // 마운트 활성화
  &.anim-enter-active {
    filter: brightness(1);
    transform: scale(1);
    transition: $transition-page;
  }

  // 언마운트 전
  &.anim-exit {
    filter: brightness(1);
    transform: scale(1);
  }

  // 언마운트 활성화
  &.anim-exit-active {
    filter: brightness(0.25);
    transform: scale(0.9);
    transition: $transition-page;
  }
}

.slide {
  // 마운트 전
  z-index: 2;
  &.anim-enter {
    transform: translateX(100%);
  }

  // 마운트 활성화
  &.anim-enter-active {
    transform: translateX(0);
    transition: $transition-page;
  }

  // 언마운트 전
  &.anim-exit {
    transform: translateX(0);
  }

  // 언마운트 활성화
  &.anim-exit-active {
    transform: translateX(100%);
    transition: $transition-page;
  }
}