<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
</head>
<body>
  <div id="root">
    
    <nav id="topmenu" class="menu top">
      <button class="btn none"><i class="xi-bars"></i></button>
      <div class="title">슈퍼레어</div>
      <button class="btn none"><i class="xi-search"></i></button>
    </nav>

    <main>
      <section id="imgslide">
        <div class="imgs">
          <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
        </div>
      </section>
      <section id="itemlist">
        <div class="items">
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="img">
              <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
            </div>
            <div class="summary">
              <div class="title">소장품 이름<span class="grade">SSR</span></div>
              <div class="price">1,000,000 원<i class="xi-angle-up-min"></i></div>
              <div class="info">
                <span class="timer"><i class="xi-timer-o"></i>1시간 30분</span>
                <span class="star">999<i class="xi-star"></i></span>
                <span class="flag">999<i class="xi-flag"></i></span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <nav id="bottommenu" class="menu bottom">
      <button class="btn none">
        <i class="xi-home-o"></i>
        <span>홈</span>
      </button>
      <button class="btn none">
        <i class="xi-document"></i>
        <span>카테고리</span>
      </button>
      <button class="btn none">
        <i class="xi-gift-o"></i>
        <span>나의 경매</span>
      </button>
      <button class="btn none">
        <i class="xi-user-o"></i>
        <span>나의 슈퍼레어</span>
      </button>
    </nav>

  </div>
</body>
</html>