<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
</head>
<body>
  <div id="root">
    
    <menu class="top">
      <button class="btn none"><i class="xi-bars"></i></button>
      <div class="title">슈퍼레어</div>
      <button class="btn none"><i class="xi-search"></i></button>
    </menu>

    <main>
      <section id="imgslide">
        <div class="imgs">
          <img src="/images/Eab45nOX0AAxAQm.jpeg" alt="PS5">
        </div>
      </section>
      <section class="list">

      </section>
    </main>
    
    <menu class="bottom">
      <button class="btn none">
        <i class="xi-home-o"></i>
        <span>홈</span>
      </button>
      <button class="btn none">
        <i class="xi-document"></i>
        <span>카테고리</span>
      </button>
      <button class="btn none">
        <i class="xi-gift-o"></i>
        <span>나의 경매</span>
      </button>
      <button class="btn none">
        <i class="xi-user-o"></i>
        <span>나의 슈퍼레어</span>
      </button>
    </menu>

  </div>
</body>
</html>